/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;500;600;700;800&display=swap');

.features-section {
  padding-top: 2rem;
  padding-bottom: 4rem;
  padding-left: 6rem;
  padding-right: 6rem;
  text-align: center;
}

.features-title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 1.5rem;
}


@media (max-width: 1024px) {
  .features-grid {
    grid-template-columns: repeat(2, 1fr); 
  }
}


@media (max-width: 600px) {
  .features-grid {
    grid-template-columns: 1fr; 
  }
}

.feature-card {
  padding: 1.7rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #fff;
  text-align: left;
} */

.features-section {
  padding: 40px 167px;
  /* padding: 40px 20px; */
  text-align: center;
}
.features-title {
  font-size: 34px;
  margin-bottom: 30px;
}
.features-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.feature-card {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  background: #fff;
  text-align: left;
}

/* Mobile */
@media (max-width: 600px) {
  .features-grid {
    grid-template-columns: 1fr;
  }
}

/* Tablet */
@media (min-width: 601px) and (max-width: 900px) {
  .features-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Laptop */
@media (min-width: 901px) and (max-width: 1200px) {
  .features-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Desktop */
@media (min-width: 1201px) {
  .features-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
